<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul style="list-style: none; display: flex; gap: 15px;">
                <li><a asp-controller="AddItem" asp-action="NewItem">Add New Item</a></li>
                <li><a asp-controller ="Category" asp-action="Category">Category</a></li>
                <li><a asp-controller="SearchingProduct" asp-action="Search">Search</a></li>
                <li><a asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>

