@{
    ViewData["Title"] = "Add New Item";
}
@if (TempData["SuccessMessage"] != null)
{
    <p style="color: green; font-weight: bold;">
        @TempData["SuccessMessage"]
    </p>
}


<h1>اضافه کردن آیتم جدید</h1>

<form asp-action="NewItem" method="post">
    <div>
        <label for="Name">اسم آیتم:</label>
        <input type="text" id="Name" name="Name" required />
    </div>

    <div>
        <label for="Price">قیمت:</label>
        <input type="number" id="Price" name="Price" step="0.01" required />
    </div>

    <div>
        <label for="Description">توضیحات:</label>
        <textarea id="Description" name="Description"></textarea>
    </div>

    <div>
        <label for="Category">دسته‌بندی:</label>
        <input type="text" id="Category" name="Category" />
    </div>

    <button type="submit">اضافه کردن</button>
</form>
